* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.titulo {
    background-color: rgb(23, 44, 136);
}

.texto {
    background-color: rgb(170, 30, 30);
}

#simples {
background-color: rgb(209, 197, 197);}

#simples:hover {
scale: 105%
}