* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.titulo {
    background-color: rgb(23, 44, 136);
}

.texto {
    background-color: rgb(170, 30, 30);
}

#simples {
background-color: rgb(180, 170, 170);}

#simples:hover {
scale: 105%
}

.Form {
    border-color: rgb(32, 111, 190);
     margin-bottom: 60px;
    padding-top: 20px;
    color: rgb(2, 3, 3);
    text-align: center;

}